{%extends "base/main.html"%}
{% block title %}Door Type{% endblock %}
{%block content%}
 <div class="col-12 mt-5">
     <div class="card">
     {%if "Door Type" in user_groups %}
         <div class="card-body">
             <h4 class="header-title" >Door Type</h4>
             <div class="single-table">
                 <div class="table-responsive">
                     <table class="table table-hover progress-table text-center">
                         <thead class="text-uppercase">
                             <tr>
                                 <th scope="col">NO</th>
                                 <th style="text-align: left" scope="col">Description</th>
                                 <th scope="col">Price</th>
                                 <th scope="col">Stock</th>
                                 <th scope="col">Qty On Hand</th>
                                 <th scope="col">Manufacturer</th>
                                 <th style="text-align: left" scope="col">Door Options</th>
                             </tr>
                         </thead>
                         <tbody>
                         {%for item in list_door %}
                             <tr>
                                 <th scope="row">{{item.patio_door_id}}</th>
                                 <td style="text-align: left">{{item.description}}</td>
                                 <td>{{item.price}}</td>
                                 <td>{{item.stock}}</td>
                                 <td>{{item.qty}}</td>
                                 <td>{{item.manufacturer}}</td>
                                 <td style="text-align: left">{{item.option.description}}-{{item.option.price}}</td>
                             </tr>
                          {%endfor%}  
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
       {%else%}
       <h3 class="btn btn-danger">You don't have permission to see this page</h3>
       {%endif%}
     </div>
 </div>

{%endblock%}