body {
  font-family: "Open Sans", Arial;
  background: #EEE;
  text-align: center; }
  body * {
    margin: 0;
    padding: 0; }

@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0); } }
.pie-chart {
  font-family: "Open Sans", Arial; }
  .pie-chart--wrapper {
    width: 400px;
    margin: 30px auto;
    text-align: center; }
  .pie-chart__pie, .pie-chart__legend {
    display: inline-block;
    vertical-align: top; }
  .pie-chart__pie {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px auto 35px; }
    .pie-chart__pie::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      width: 100px;
      height: 100px;
      background: #EEE;
      border-radius: 50%;
      top: 50px;
      left: 50px; }
    .pie-chart__pie::after {
      content: "";
      display: block;
      width: 120px;
      height: 2px;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
      margin: 220px auto; }

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s; }
  .slice span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px); }

.pie-chart__legend {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  background: #FFF;
  padding: 0.75em 0.75em 0.05em;
  font-size: 13px;
  box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
  text-align: left;
  width: 65%; }
  .pie-chart__legend li {
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black; }
  .pie-chart__legend em {
    font-style: normal; }
  .pie-chart__legend span {
    float: right; }

.pie-charts {
  display: flex;
  flex-direction: row; }
  @media (max-width: 500px) {
    .pie-charts {
      flex-direction: column; } }

/* -------------------- */


/* BAR CHART */

#contenitore{
position: relative;
width: 600px;
margin: 20px auto;
text-align:center;
overflow:hidden;
font: 11px 'Trebuchet MS', sans serif;
}
.left{
float:left;
width:48%;
}
#grafico{
position:relative;
height:250px;
border-left:2px solid #000000;
border-bottom: 2px solid #000000;
width:80%;
margin-top:20px;
}
.riga{
position:absolute;
left:0;
height: 1px;
background-color:gray;
width: 80%;
}
.riga div{
float:left;
margin: -8px 0 0 -20px;
}
.canc{
clear:both;
}
table{
width:40%;
background-color: white;
color: #000;
margin: 1em auto;
}
table caption{
background-color: #D8EED8;
color: #004156;
text-align: left;
}
table tr:nth-child(2n){
background-color: #D8EED8;
}
table tr:nth-child(2n+1){
background-color: #BFDFFF;
}
table td{
text-align:center;
border-bottom: 1px solid #CDCDCD;
padding: 2px;
}
.column{
position:absolute;
width: 16%;
bottom: 0;
background-color: #003366;
margin-left:5%;
}
div.button {
    margin: 0 auto;
    text-align: center;
    width: 100px;
    background-color:#003366;
    border: 1px solid #003366;
    border-radius: 5px;
    padding: 8px;
    color: #E1E2CF;
    cursor: pointer;
}
.column div{
margin-top:-20px;
height:20px;
}


/* ------progress bar ------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* Regular Styles */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #4e555f;
  font-size: 14px;
}
/* Bar Delays Animation Function */
/* Chart Styles */
.chart-wrap {
  max-width: 550px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #eeeeee;
}
.chart-wrap .chart-title {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.chart-wrap .row {
  position: relative;
  height: 26px;
  margin-bottom: 15px;
}
.chart-wrap .bar-wrap {
  position: relative;
  background: #d7dbde;
  width: 80%;
  height: 100%;
  overflow: hidden;
}
.chart-wrap .bar-wrap .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #f37167;
  transition: all 1s;
  transform: translateX(-100%);
}
.chart-wrap .bar-wrap .bar.in {
  transform: translateX(0%);
}
.chart-wrap .bar.red {
  background-color: #CB4B4B;
}
.chart-wrap .bar.green {
  background-color: #4DA74D;
}
.chart-wrap .bar.yellow {
  background-color: #F0AD4E;
}
.chart-wrap .bar.blue {
  background-color: #337AB7;
}
.chart-wrap .bar.lightblue {
  background-color: #AFD8F8;
}
.chart-wrap .row:nth-of-type( 1) .bar {
  transition: 1s 400ms;
}
.chart-wrap .row:nth-of-type( 2) .bar {
  transition: 1s 600ms;
}
.chart-wrap .row:nth-of-type( 3) .bar {
  transition: 1s 800ms;
}
.chart-wrap .row:nth-of-type( 4) .bar {
  transition: 1s 1000ms;
}
.chart-wrap .row:nth-of-type( 5) .bar {
  transition: 1s 1200ms;
}
.chart-wrap .row:nth-of-type( 6) .bar {
  transition: 1s 1400ms;
}
.chart-wrap .row:nth-of-type( 7) .bar {
  transition: 1s 1600ms;
}
.chart-wrap .label {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10;
}
.chart-wrap p{
  margin-top: -10px;
  font-size: 0.7em;
  font-weight:lighter;
}
.chart-wrap .number {
  position: absolute;
  top: 0;
  right: 55px;
  width: 30px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: right;
  z-index: 10;
}
@media screen and (min-width: 800px) {
  .chart-wrap .row {
    padding: 0 40px 0 160px;
  }
  .chart-wrap .label {
    text-align: right;
    padding-left: 0;
  }
  .chart-wrap .number {
    text-align: left;
    padding-right: 0;
  }
}

/*
	Side Navigation Menu V2, RWD
	===================
	Author: https://github.com/pablorgarcia
 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);



h1 {
  font-size:3em;
  font-weight: bold;
  line-height:1em;
  text-align: center;
  color: black;
}

h2 {
  font-size:1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;

  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

.rwd-table {
  background-color: white!important;
    color: #131313 !important;
    font-weight: bold;
    border-radius: .4em;
    overflow: hidden;
}
.table-bordered {
    border: 1px solid #dee2e6;
}
.rwd-table th, .rwd-table td:before {
    /* color: #dd5; */
}
@media (min-width: 480px)
.rwd-table th, .rwd-table td {
    padding: 1em !important;
}

.rwd-table tr{
  /* background-color: #34495E !important; */
  background-color: white !important;
  font-size: 0.6em;
}
.rwd-table p{
  font-size: 0.9em !important;
  margin-bottom: 0px;

}
.rwd-table td{
  vertical-align: middle !important;

}

.green{
  color:green !important;
  margin-top: 3px;
  font-weight: bold;

}
.red{
  color:red !important;
  margin-top: 3px;
  font-weight: bold;

}
.blue{
  color:#34495E !important;
  margin-top: 3px;
  font-weight: bold;

}
.badge{
  font-size: 1em !important;

}
.express_coating .badge{
  font-size: 15px !important;

}
.express_coating p{
  font-size: 15px !important;

}
.express_coating tr{
  font-size: 15px !important;

}
.express_coating thead th{
  font-size: 17px !important;

}

.dataTables_filter {
   float: left !important;
   margin-left:30px;
}
